<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Создаём сервлет, который будет сортировать числа -->
    <servlet>
        <servlet-name>sortArray</servlet-name>
        <servlet-class>servlets.SortArray</servlet-class>
    </servlet>

    <!-- По каким URL будет доступен наш сервлет -->
    <servlet-mapping>
        <servlet-name>sortArray</servlet-name>
        <url-pattern>/sort</url-pattern>
        <url-pattern>/sort2</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>sortArray</servlet-name>
        <url-pattern>/abc</url-pattern>
    </servlet-mapping>
</web-app>